<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue</title>
    </head>
    <body>
        <div id="app">
            <!--<h1 v-bind:title="menu">{{title}}</h1>
            <p v-text="content"></p>
            <input type="text" v-model="content">-->
            <!--<ul>
                <li v-for="todo in items">{{todo}}</li>
            </ul>
            <input type="text" v-model="item">
            <button @click="items.push(item)">Add Item</button>-->
            <!--<h1 v-if="hidden">Text</h1>
            <h1 v-else>Another</h1>-->
            <!--<ul>
                <li v-for="item in items">
                    {{item.text}}
                    <div v-if="item.checked">Checked!</div>
                    <div v-else>Not Checked</div>
                    <button @click="item.checked = ! item.checked">Toggle</button>
                </li>
            </ul>-->
            <!--<div>Amount: <input type="text" v-model="price"></div>
            <div>Tax {{ moneyFormat(tax) }}</div>
            <div>Total {{ moneyFormat(total) }}</div>-->
            <!--<accordion v-for="item in items" :key="item.id" :item="item"></accordion>-->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            
        </script>
        
    </body>
</html>